<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input{
            display: block;
            margin:5px;
        }
    </style>
</head>
<body>
    <div id="app">
        <login-form/>

    </div>
    <!--<form action="">
        <label>Username
            <input type="text" name="username" >
        </label>
        <label>Password
            <input type="password" name="password" >
        </label>
    </form>-->
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        let app = Vue.createApp({

        })
        app.component('login-form',{
            template:`
            <h1>{{ title }}</h1>
            <form @submit.prevent="handleSubmit">
                <custom-input
                v-for="(input, i) in inputs" 
                :key="i"
                v-bind:label="input.label" 
                :type="input.type" 
                v-model="input.value"
                />
                <button>Login</login>
            </form>
            `,
            data(){
                return{
                    'title': 'Login',
                    'inputs': [
                        {
                            'label': 'Username',
                            'type': 'email',
                            'value': ''

                        },
                        {
                            'label': 'Password',
                            'type': 'password',
                            'value': ''
                        },
                        {   
                            'label': 'Name',
                            'type': 'text',
                            'value': ''
                        },
                        {   
                            'label': 'Address',
                            'type': 'text',
                            'value': ''
                        }
                    ],
                    }
            },
            methods: {
                handleSubmit() {
                    console.log(this.inputs[0].value, this.inputs[1].value)
                }
            }
        }),
        app.component('custom-input', {
            template: `
            <label> 
                {{ label }}
                <input :type="type" v-model="inputValue">
            </label>
            `,
            props: ['label', 'type', 'modelValue'],
            computed: {
                inputValue:{
                    get(){
                        return this.modelValue
                    },
                    set(value){
                        this.$emit('update:modelValue', value)
                    }
                }
            } 
        })
        
        app.mount('#app')
    </script>
</body>
</html>